# Ignore virtual environment
venv
# Ignore lightning logs
lightning_logs
# Ignore cache files
*.pyc
# Ignore dataset files
data/datasets/FB15k-237
data/datasets/wn18rr
data/datasets/YAGO3-10
# Ignore checkpoint files
*.ckpt
# Ignore wandb files
wandb